repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: check-added-large-files
        args:
          - '--maxkb=64'
      - id: trailing-whitespace
        args:
          - '--markdown-linebreak-ext=md'
      - id: check-symlinks
      - id: check-yaml
        args:
          - '--allow-multiple-documents'
      - id: requirements-txt-fixer
      - id: check-ast
  # Go specific hooks
  - repo: https://github.com/tekwizely/pre-commit-golang
    rev: v1.0.0-rc.2
    hooks:
      - id: go-build-mod
      # - id: go-mod-tidy
      # - id: go-mod-tidy-repo
      - id: go-test-mod
      # - id: go-test-repo-mod
      - id: go-fmt
      # - id: go-fmt-repo
  # Python specific hooks
  - repo: https://github.com/asottile/reorder_python_imports
    rev: v3.16.0
    hooks:
      - id: reorder-python-imports
        args: [--application-directories, '.:src', --py312-plus]
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.12
        args:
          - --line-length
          - "140"
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        args:
          - --check-untyped-defs
          - --ignore-missing-imports
          - --install-types
          - --non-interactive
        files: docs/diagrams/main.py
